<div class="jumbotron">
	<h1>::title::</h1>
	<p>This is a simple "<em>Hello World</em>" example for Ufront. You can click a name below, or you can even enter your own name. Technology these days, simply incredible!</p>
	<div class="btn-toolbar">
		<a href="/Jason" rel="pushstate" class="btn btn-default">Jason</a>
		<a href="/Clare" rel="pushstate" class="btn btn-default">Clare</a>
		<a href="/André" rel="pushstate" class="btn btn-default">André</a>
		<!-- You can also use a class="pushstate" instead of rel="pushstate" -->
		<a href="/signup/newname/" class="btn btn-primary pushstate">Enter your own name!</a>
	</div>
	<p>
		If you open your browser console, you'll see that after the initial page load, the <code>client.js</code> script kicks in and it behaves as a single-page-app, no HTTP requests.
		But if you disable JS, it all still works, server side. Which is great for old browsers, SEO, and fast first page loads.
	</p>
	<p>Ufront also supports calling server APIs seamlessly and safely from the client. It has dependency injection, an ORM, an auth system and more. Our little hello world example didn't need any of that though. To learn more about Ufront visit <a href="http://ufront.net">ufront.net</a>.</p>
	<p>Source code for this app <a href="https://github.com/ufront/hello/tree/master/HelloWorld.hx">can be viewed on Github</a>.</p>
</div>
