<div class="jumbotron">
	<h1>::title::</h1>
	<h3>Enter your name below to use that instead! (Amazing technology!)</h3>
	<form action="/signup/newname/" method="POST" class="pushstate">
		<div class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="email">Your Name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" />
			</div>
			<button type="submit" class="btn btn-primary">Show my name!</button>
		</div>
	</form>
</div>
