<div class="jumbotron">
	<h1>@title</h1>
	<h3>Welcome to our website!</h3>
	<div class="btn-toolbar">
		<a href="/Jason" rel="pushstate" class="btn btn-default">Jason</a>
			<a href="/Jåş°ņ" rel="pushstate" class="btn btn-default">Jåş°ņ</a>
		<a href="/Clare" rel="pushstate" class="btn btn-default">Clare</a>
		<a href="/Aaron" class="btn btn-default pushstate">Aaron</a><!-- You can also use a class="pushstate" instead of rel="pushstate" -->
	</div>
	<hr />
	<form action="/subscribe" method="POST" class="pushstate">
		<div class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="name">Your name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Enter name" />
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">Email address</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
			</div>
			<button type="submit" class="btn btn-primary">Subscribe for Updates</button>
		</div>
	</form>
	<p class="small"><a href="/subscribers/list.html" class="pushstate">View Subscriber List</a></p>
</div>
